[submodule "helikopter-doc"]
    path = helikopter-doc
    url = git@atreus.informatik.uni-tuebingen.de:Programmierprojekt2016/ProgrammierProjekt2016-Docs.git
    branch = TeamProgrammierProjekt2016
[submodule "helikopter-tools"]
	path = helikopter-tools
	url = git://github.com/raspberrypi/tools.git
