[submodule "helikopter-doc"]
	path = helikopter-doc
	url = git@gitlab.hs-esslingen.de:HElikopter/Projectmanagement.git
	branch = Masters2017 
[submodule "helikopter-tools"]
	path = helikopter-tools
	url = git://github.com/raspberrypi/tools.git
	branch = f564210     
